name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write
      id-token: write
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine pyinstaller Pillow sip
          pip install -r requirements.txt
      
      - name: Build Python package
        run: |
          mkdir package-dist
          python -m build --outdir package-dist
      
      - name: Build Standalone Executable
        run: |
          mkdir exe-dist
          pyinstaller --noconsole --onefile --icon=docs/images/test.jpg --name Authipy --distpath exe-dist src/authipy/main.py
      
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            package-dist/*
            exe-dist/*
          generate_release_notes: true
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: twine upload package-dist/*